# Frontend
VITE_API_URL=http://localhost:8080

# Backend
PORT=8080
JWT_SECRET=change_me_super_secret
DATABASE_URL=postgres://app_user:app_password@db:5432/components_db

# PostgreSQL
POSTGRES_DB=components_db
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_password